# **Assignment on Uber dataset**

**Load the dataset**

In [2]:
import pandas as pd
uber_data=pd.read_csv("Uber.csv")

**Display basic info about dataset**

In [2]:
uber_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1156 entries, 0 to 1155
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   START_DATE*  1156 non-null   object
 1   END_DATE*    1155 non-null   object
 2   CATEGORY*    1155 non-null   object
 3   START*       1155 non-null   object
 4   STOP*        1155 non-null   object
 5   MILES*       1156 non-null   float64
 6   PURPOSE*     653 non-null    object
dtypes: float64(1), object(6)
memory usage: 63.3+ KB

**Check for missing values**

In [47]:
uber_data.isnull().sum()

START_DATE*          0
END_DATE*            1
CATEGORY*            1
START*               1
STOP*                1
MILES*               0
PURPOSE*           503
COST_ESTIMATION      0
dtype: int64

**Drop rows with missing values**

In [42]:
uber_data.dropna()

,START_DATE*,END_DATE*,CATEGORY*,START*,STOP*,MILES*,PURPOSE*,COST_ESTIMATION
0,1/1/2016 21:11,1/1/2016 21:17,Business,Fort Pierce,Fort Pierce,5.1,Meal/Entertain,10.2
2,1/2/2016 20:25,1/2/2016 20:38,Business,Fort Pierce,Fort Pierce,4.8,Errand/Supplies,9.6
3,1/5/2016 17:31,1/5/2016 17:45,Business,Fort Pierce,Fort Pierce,4.7,Meeting,9.4
4,1/6/2016 14:42,1/6/2016 15:49,Business,Fort Pierce,West Palm Beach,63.7,Customer Visit,127.4
5,1/6/2016 17:15,1/6/2016 17:19,Business,West Palm Beach,West Palm Beach,4.3,Meal/Entertain,8.6
...,...,...,...,...,...,...,...,...
1150,12/31/2016 1:07,12/31/2016 1:14,Business,Kar?chi,Kar?chi,0.7,Meeting,1.4
1151,12/31/2016 13:24,12/31/2016 13:42,Business,Kar?chi,Unknown Location,3.9,Temporary Site,7.8
1152,12/31/2016 15:03,12/31/2016 15:38,Business,Unknown Location,Unknown Location,16.2,Meeting,32.4
1153,12/31/2016 21:32,12/31/2016 21:50,Business,Katunayake,Gampaha,6.4,Temporary Site,12.8
1154,12/31/2016 22:08,12/31/2016 23:51,Business,Gampaha,Ilukwatta,48.2,Temporary Site,96.4

**fill missing values (propose column with unknown value)**

In [64]:
uber_data['PURPOSE*']=uber_data['PURPOSE*'].fillna('Unknown')
uber_data['END_DATE*']=uber_data['END_DATE*'].fillna('Unknown')
uber_data['CATEGORY*']=uber_data['CATEGORY*'].fillna('Unknown')
uber_data['START*']=uber_data['START*'].fillna('Unknown')
uber_data['STOP*']=uber_data['STOP*'].fillna('Unknown')
uber_data.isnull().sum()

C:\Users\CVR\AppData\Local\Temp\ipykernel_30536\3186550065.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  uber_data['PURPOSE*']=uber_data['PURPOSE*'].fillna('Unknown')
C:\Users\CVR\AppData\Local\Temp\ipykernel_30536\3186550065.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  uber_data['END_DATE*']=uber_data['END_DATE*'].fillna('Unknown')
C:\Users\CVR\AppData\Local\Temp\ipykernel_30536\3186550065.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  uber_data['CATEGORY*']=uber_data['CATEGORY*'].fillna('Unknown')
C:\Users\CVR\AppData\Local\Temp\ipykernel_30536\3186550065.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  uber_data['START*']=uber_data['START*'].fillna('Unknown')
C:\Users\CVR\AppData\Local\Temp\ipykernel_30536\3186550065.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  uber_data['STOP*']=uber_data['STOP*'].fillna('Unknown')

START_DATE*        0
END_DATE*          0
CATEGORY*          0
START*             0
STOP*              0
MILES*             0
PURPOSE*           0
COST_ESTIMATION    0
END_DATE**         0
dtype: int64

**Check and remove duplicates**

In [59]:
uber_data[uber_data.duplicated()].sum()

START_DATE*        6/28/2016 23:34
END_DATE*          6/28/2016 23:59
CATEGORY*                 Business
START*                      Durham
STOP*                         Cary
MILES*                         9.9
PURPOSE*                   Meeting
COST_ESTIMATION               19.8
dtype: object

In [61]:
uber_data=uber_data.drop_duplicates()
uber_data[uber_data.duplicated()].sum()

START_DATE*          0
END_DATE*            0
CATEGORY*            0
START*               0
STOP*                0
MILES*             0.0
PURPOSE*             0
COST_ESTIMATION    0.0
dtype: object

**Convert START_DATE and END_DATE to datetime**

In [6]:
uber_data['START_DATE*']=pd.to_datetime(uber_data['START_DATE*'],errors='coerce')
uber_data.dtypes

START_DATE*    datetime64[ns]
END_DATE*              object
CATEGORY*              object
START*                 object
STOP*                  object
MILES*                float64
PURPOSE*               object
dtype: object

In [7]:
uber_data['END_DATE*']=pd.to_datetime(uber_data['END_DATE*'],errors="coerce")
uber_data.dtypes

START_DATE*    datetime64[ns]
END_DATE*      datetime64[ns]
CATEGORY*              object
START*                 object
STOP*                  object
MILES*                float64
PURPOSE*               object
dtype: object

**Total number of rides per category:**

In [30]:
uber_data.groupby('CATEGORY*').size()

CATEGORY*
Business    1078
Personal      77
dtype: int64

**Total miles traveled for each purpose:**

In [37]:
uber_data.groupby('PURPOSE*')['MILES*'].sum()

PURPOSE*
Airport/Travel       16.5
Between Offices     197.0
Charity ($)          15.1
Commute             180.2
Customer Visit     2089.5
Errand/Supplies     508.0
Meal/Entertain      911.7
Meeting            2851.3
Moving               18.2
Temporary Site      523.7
Name: MILES*, dtype: float64

**Average distance for business vs. personal rides:**

In [13]:
b_avg=uber_data[(uber_data['CATEGORY*']=='Business')]
p_avg=uber_data[(uber_data['CATEGORY*']=='Personal')]
print(f"Average distance for business rides:{b_avg['MILES*'].mean():.2f}")
print(f"Average distance for personal rides:{p_avg['MILES*'].mean():.2f}")

Average distance for business rides:10.66
Average distance for personal rides:9.32

**Add a column for cost estimation (assuming $2 per mile):**

In [41]:
uber_data["COST_ESTIMATION"]=uber_data["MILES*"]*2
uber_data

,START_DATE*,END_DATE*,CATEGORY*,START*,STOP*,MILES*,PURPOSE*,COST_ESTIMATION
0,1/1/2016 21:11,1/1/2016 21:17,Business,Fort Pierce,Fort Pierce,5.1,Meal/Entertain,10.2
1,1/2/2016 1:25,1/2/2016 1:37,Business,Fort Pierce,Fort Pierce,5.0,NaN,10.0
2,1/2/2016 20:25,1/2/2016 20:38,Business,Fort Pierce,Fort Pierce,4.8,Errand/Supplies,9.6
3,1/5/2016 17:31,1/5/2016 17:45,Business,Fort Pierce,Fort Pierce,4.7,Meeting,9.4
4,1/6/2016 14:42,1/6/2016 15:49,Business,Fort Pierce,West Palm Beach,63.7,Customer Visit,127.4
...,...,...,...,...,...,...,...,...
1151,12/31/2016 13:24,12/31/2016 13:42,Business,Kar?chi,Unknown Location,3.9,Temporary Site,7.8
1152,12/31/2016 15:03,12/31/2016 15:38,Business,Unknown Location,Unknown Location,16.2,Meeting,32.4
1153,12/31/2016 21:32,12/31/2016 21:50,Business,Katunayake,Gampaha,6.4,Temporary Site,12.8
1154,12/31/2016 22:08,12/31/2016 23:51,Business,Gampaha,Ilukwatta,48.2,Temporary Site,96.4
1155,Totals,NaN,NaN,NaN,NaN,12204.7,NaN,24409.4

**Filter rides longer than 50 miles:**

In [26]:
a = uber_data[(uber_data['MILES*'] > 50)]
a.reset_index(inplace=True, drop=True)

**Filter by specific purpose (e.g., meetings):**

In [8]:
uber_data[(uber_data['PURPOSE*']=='Meeting')]

,START_DATE*,END_DATE*,CATEGORY*,START*,STOP*,MILES*,PURPOSE*
3,2016-01-05 17:31:00,2016-01-05 17:45:00,Business,Fort Pierce,Fort Pierce,4.7,Meeting
6,2016-01-06 17:30:00,2016-01-06 17:35:00,Business,West Palm Beach,Palm Beach,7.1,Meeting
7,2016-01-07 13:27:00,2016-01-07 13:33:00,Business,Cary,Cary,0.8,Meeting
8,2016-01-10 08:05:00,2016-01-10 08:25:00,Business,Cary,Morrisville,8.3,Meeting
10,2016-01-10 15:08:00,2016-01-10 15:51:00,Business,New York,Queens,10.8,Meeting
...,...,...,...,...,...,...,...
1142,2016-12-29 20:15:00,2016-12-29 20:45:00,Business,Kar?chi,Kar?chi,7.2,Meeting
1144,2016-12-29 23:14:00,2016-12-29 23:47:00,Business,Unknown Location,Kar?chi,12.9,Meeting
1148,2016-12-30 16:45:00,2016-12-30 17:08:00,Business,Kar?chi,Kar?chi,4.6,Meeting
1150,2016-12-31 01:07:00,2016-12-31 01:14:00,Business,Kar?chi,Kar?chi,0.7,Meeting
1152,2016-12-31 15:03:00,2016-12-31 15:38:00,Business,Unknown Location,Unknown Location,16.2,Meeting

**What is the total number of business trips versus personal trips?**

In [6]:
b=uber_data[(uber_data['CATEGORY*'])=='Business']
p=uber_data[(uber_data['CATEGORY*'])=='Personal']
print(f"Total no. of business trips:{b.shape[0]}")
print(f"Total no. of personal trips:{p.shape[0]}")

Total no. of business trips:1078
Total no. of personal trips:77

**What percentage of trips are business versus personal?**

In [15]:
b=uber_data[(uber_data['CATEGORY*'])=='Business']
p=uber_data[(uber_data['CATEGORY*'])=='Personal']
print(f"Total no. of business trips:{(b.shape[0]/uber_data.shape[0])*100:.2f} %")
print(f"Total no. of personal trips:{(p.shape[0]/uber_data.shape[0])*100:.2f} %")

Total no. of business trips:93.25 %
Total no. of personal trips:6.66 %